@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
  }
}

.print-icon {
  height: 2rem;
  width: 2rem;
  text-align: center;
}

.hazard-check {
  height: 2rem;
  width: 2rem;
  border: rgb(206, 212, 218) solid 1px;
  border-radius: .2rem;
  display: inline-block;
  margin-right: .25rem !important;
}

.gear-die {
  height: 4rem;
  width: 4rem;
  border: rgb(206, 212, 218) solid 1px;
  border-radius: .2rem;
  padding: auto;
  line-height: 4rem;
  text-align: center;
}

.wrecked-display {
  position: absolute;
  top: 65px;
  left: 31px;
  transform: rotate(.95turn);
  color: red;
  font-size: 125%;
  z-index: 10000;
}

.thing-list {
  margin-left: 1.5rem;
}

.weapon,
.upgrade {
  padding: .2rem;
  border-radius: .2rem;
}

.weapon.alternate,
.upgrade.alternate {
  background: linear-gradient(to right, lightgray, white);
}

.special-holder {
  margin-top: .75rem;
}
